{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card-custom text-center p-4">
            <h2 class="mb-4">Incident Response Plan</h2>
            <form method="POST" action="{{ url_for('login') }}">
                <div class="mb-3">
                    <label for="username" class="form-label fw-bold w-100">User</label>
                    <input type="text"
                           id="username"
                           class="form-control rounded-pill mx-auto text-center"
                           name="username"
                           required
                           aria-label="Utilizador"
                           style="max-width: 300px;">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label fw-bold w-100">Password</label>
                    <input type="password"
                           id="password"
                           class="form-control rounded-pill mx-auto text-center"
                           name="password"
                           required
                           aria-label="Senha"
                           style="max-width: 300px;">
                </div>

                {% if message %}
                    <div class="alert alert-danger mt-3" role="alert">
                        {{ message }}
                    </div>
                {% endif %}

                <div class="d-grid justify-content-center">
  <button type="submit"
          class="btn btn-purple"
          style="width: 180px; height: 50px; font-size: 18px; border-radius: 30px;">
    Sign In
  </button>
</div>

            </form>

            <hr class="my-4">

            <p class="text-center text-muted mb-0">Current Date: {{ current_date }}</p>
            <p class="text-center text-muted">Application Version: {{ version }}</p>
        </div>
    </div>
</div>
{% endblock %}

<script>
     function toggleDropdown() {
            document.getElementById("dropdown-content").classList.toggle("show");
        }

        window.addEventListener('click', function(event) {
    if (!event.target.matches('.user-button')) {
        const dropdowns = document.querySelectorAll(".dropdown-content");
        dropdowns.forEach(d => d.classList.remove("show"));
    }
});
</script>
